:root{
  --main_color: #20c8be;
  --back_ground_color: #2f9f98;
}
.top_nav{
  background-color: var(--main_color);
  overflow: hidden;
}
.top_nav a{
  float: left;
  color: #f2f2f2
  text-align:center;
  padding: 12px 20px;
  padding-bottom: 10px;
  font-size: 16px;
  text-decoration: none;

}
.top_nav a:hover {
  background-color: #ddd;
  color: black;
}
.top_nav a.active{
  background-color: var(--back_ground_color);
}
.button{
  background-color: var(--main_color);
  padding: 14px 14px;
  text-align: center;
  margin:auto;
  border-radius: 10px;
  border: none;
}
.button:active{
  background-color: var(--back_ground_color);
}
.content{
  width:300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #fff;
}
body{
  background-color: #fff;
}

.footer{

  position:absolute;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;

}
